 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tenho como características trabalho duro, inovação e proatividade. Sou uma pessoa que tem fluência em relacionamento interpessoal, gosto de entender como os negócios funcionam e aprender coisas novas. Além disso, tenho facilidade de aprendizado e interesse em novas experiências que possam me ajudar a crescer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Empreendedor e criativo, criador de algumas startups. Hoje comando um e-commerce de lingerie e estou escrevendo um roteiro de um canal no YouTube. Amo música, fazer amizades e viver experiências de tirar o fôlego. Uma pessoa extremamente simples que se dedica pra ter uma vida com experiências únicas. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="../img/Marcelo_Rios(18)">
                        <i class="fa fa-download"></i> Baixe meu CV
                    </a>
                </div>
            </div>
        </div>
        <div id='product-component-a0e79b654c7'></div>
    </section>
