
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mad Pixel TV</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div>
              <p class="text-center">A Mad Pixel TV é um canal no YouTube da Mad Pixel que será dividido em temporadas. Terá o formato de novela, ou seja, um episódio de cada temporada influenciará nos outros. Clique nos quadros abaixo e veja os episódios da temporada respectivamente.</p>
            </div>
            <div class="text-center">
              <h3>Temporada 1 - Madway to Heaven</h3>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
                <div class="text-center">
                  <p>A primeira temporada tem o tema do primeiro jogo lançado em plataformas pela Mad Pixel que é o Madway to Heaven. Sua personagem principal é a Chloe, mas sinta-se à vontade para escolher os demais personagens.</p>
                </div>
            </div>
        </div>
    </section>