<section class="umdia" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Um dia com Marcelo Rios</h2>
                    <hr class="star-light">
<div id='collection-component-52d7f8ccf9e'></div>
    <script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'jabuvih.myshopify.com',
          storefrontAccessToken: 'be79fc508253284f9e52835e6b89f15c',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('collection', {
            id: 133697601615,
            node: document.getElementById('collection-component-52d7f8ccf9e'),
            moneyFormat: 'R%24%20%7B%7Bamount_with_comma_separator%7D%7D',
            options: {
  "product": {
    "buttonDestination": "modal",
    "variantId": "all",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "options": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "VER DETALHES"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(50% - 40px)",
          "margin-left": "40px",
          "margin-bottom": "50px",
          "width": "calc(50% - 40px)"
        },
        "imgWrapper": {
          "position": "relative",
          "height": "0",
          "padding-top": "calc(75% + 15px)"
        },
        "img": {
          "height": "calc(100% - 15px)",
          "position": "absolute",
          "left": "0",
          "right": "0",
          "top": "0"
        }
      },
      "button": {
        "background-color": "#18bc9c",
        ":hover": {
          "background-color": "#16a98c"
        },
        ":focus": {
          "background-color": "#16a98c"
        }
      },
      "title": {
        "color": "#ffffff"
      },
      "price": {
        "color": "#ffffff"
      },
      "compareAt": {
        "color": "#ffffff"
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "title": "CARRINHO",
      "notice": "CÓDIGOS DE DESCONTO SERÃO ADICIONADOS NA FINALIZAÇÃO.",
      "button": "FINALIZAÇÃO",
      "empty": "SEU CARRINHO ESTÁ VAZIO."
    },
    "styles": {
      "button": {
        "background-color": "#18bc9c",
        ":hover": {
          "background-color": "#16a98c"
        },
        ":focus": {
          "background-color": "#16a98c"
        }
      },
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "ADICIONAR AO CARRINHO"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#18bc9c",
        ":hover": {
          "background-color": "#16a98c"
        },
        ":focus": {
          "background-color": "#16a98c"
        }
      }
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#18bc9c",
        ":hover": {
          "background-color": "#16a98c"
        },
        ":focus": {
          "background-color": "#16a98c"
        }
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-40px"
        }
      }
    }
  }
}
          });
        });
      }
    })();
    /*]]>*/
    </script>

            </div>
        </div>
        <div id='product-component-a0e79b654c7'></div>
    </section>